html {
    text-align: center;
    /*  #171515 -fade black
        #cc0848 -blacky red
        #010101 -blackish
        #fe2567 -pink red
        #fefdfd -hwhite
    */
}

#calculator {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 95vh;
    height: 100vh;
    overflow: hidden;
    background-color: #fefdfd;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 6.25rem);
    grid-template-rows: minmax(6.25rem, auto) repeat(5, 6rem);
    border: solid 1px
}

#display {
    display: flex;
    grid-column: 1 / -1;
}