html {
    text-align: center;
    /*  #2C3639
        #3F4E4F
        #A27B5C
        #DCD7C9
    */
    font-family: 'Scientific Calculator LCD', sans-serif;
}

#calculator {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 95vh;
    height: 100vh;
    overflow: hidden;
    background-color: #fefdfd;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 6.25rem);
    grid-template-rows: minmax(6.25rem, auto) repeat(5, 6rem);
    border-radius: 1rem;
}

#display {
    display: flex;
    grid-column: 1 / -1; /* moves display <div> at top of grid */

    justify-content: flex-end;
    align-items: center;
    font-size: 2.5rem;
    background-color: #2C3639;
    color: #DCD7C9;
}

#zero {
    grid-column: span 2; /* extends button size two times */
}

.misc {
    background-color: #3F4E4F;
}

.operator {
    background-color: #A27B5C;
}

.operand {
    background-color: #DCD7C9;
}

button {
    cursor: pointer;
    border-radius: .25rem;
    font-family: 'Scientific Calculator LCD', sans-serif;
}